@import url('https://fonts.googleapis.com/css2?family=Libre+Caslon+Text:ital,wght@0,400;0,700;1,400&family=Hanken+Grotesk:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Hanken Grotesk", ui-sans-serif, system-ui;
  --font-display: "Libre Caslon Text", serif;
  
  --color-primary: #e9c176;
  --color-primary-container: #c5a059;
  --color-background: #0d0d0d;
}

body {
  font-family: var(--font-sans);
  background-color: #0d0d0d;
  color: #e2e2e2;
  -webkit-font-smoothing: antialiased;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #121414;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #c5a059;
  border-radius: 4px;
}
